{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
  <div ng-app="Guidebook">
    <h1>Welcome to the AngularJS Starter Guidebook</h1>
    <div ng-view>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  <link rel='stylesheet' href='{% static "angular/guidebook/view/styles.css" %}'>

  <script src='{% static "angular/guidebook/guidebook.js" %}'></script>
  <script src='{% static "angular/guidebook/controller/chapter_controller.js" %}'></script>
  <script src='{% static "angular/guidebook/controller/notes_controllers.js" %}'></script>
  <script src='{% static "angular/guidebook/model/note_model.js" %}'></script>
  <script src='{% static "angular/guidebook/model/chapter_model.js" %}'></script>
{% endblock extra_js %}
